body {
  background-color: black;
}

.player-wrapper {
  position: relative;
  /* padding-top: 56.25%; Player ratio: 100 / (1280 / 720) */
  padding-top: 30.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

button {
  position: fixed;
  left: 10%;
  background-color: #d9d9d9;
  color: white;
  border: 2px solid white;

  font-size: 18px;
  padding: 10px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
}

img {
  overflow: hidden;
}

.slide-captions {
  position: absolute;
  top: 35%;
  left: 10%;
  color: #fff;
  z-index: 999;
  transform: translateY(-35%);
}

.swiper-pagination-bullet-active {
     background-color: #fff !important;
}
.swiper-pagination-bullet{
  background-color: #d9d9d9 !important;
}

/*
Breakpoints responsive
*/
@media screen and (min-width: 1864px) {
  button {
    left: 25%;
  }
}

@media (min-width: 1440px) and (max-width: 3000px) {
  .slide-captions {
    top: 40%;
    left: 25%;
    transform: translateY(-28%);
    margin: 0px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .slide-captions {
    top: 25%;

    left: 10%;
    transform: translateY(-25%);
  }
}

@media screen and (max-width: 767px) {
  .slide-captions {
    top: 15%;
    left: 10%;
    transform: translateY(-30%);
  }
}

@media (min-width: 425px) and (max-width: 1023px) {
  .slide-captions {
    top: 17%;
    left: 10%;
    transform: translateY(-37%);
  }
}

@media (min-width: 320px) and (max-width: 1040px) {
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px !important; /*Pour que le changement de taille de la flèche du slider soit pris en compte à la place du style définit dans le root sans le mot !important la règle définie dans le root prend le dessus*/
  }
}

@media screen and (max-width: 425px) {
  button {
    display: none;
  }

  .slide-captions {
    display: none;
  }
}
