.admin-pannel {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}
.admin-pannel h1 {
  display: flex;
  color: rgb(16, 188, 221);
  justify-content: center;
  padding: 2%;
}
.display-nav-admin ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin: 30px;
  padding: 20px;
  color: azure;
  list-style-type: none;
  font-size: 18px;
  font-family: "PT Sans";
}
.display-nav-admin a {
  text-decoration: none;
  color: rgb(16, 188, 221);
  transition: 0.3s ease-in-out;
  border: solid 2px;
  border-radius: 5%;
  padding: 10px 30px;
  margin: 10px;
}
.display-nav-admin a:hover {
  background-color: rgb(0, 0, 0);
  opacity: 1.4;
  transform: scale(1.1);
}
.display-nav-admin li {
  transition: 0.3s ease-in-out;
}
.display-nav-admin li:hover {
  transform: scale(1.1);
}
.user-connected {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: rgb(16, 188, 221);
  justify-content: center;
  padding: 2%;
}
.user-connected p:first-of-type {
  margin: 0.5em 0 0.5em 0;
  color: rgb(146, 145, 145);
}
.user-connected button {
  width: 10%;
  margin: 1em 0 1em 0;
  padding: 0.5em;
  color: rgb(16, 188, 221);
  background-color: black;
  border-color: rgb(16, 188, 221);
  align-items: end;
  overflow: hidden;
}
.user-connected img {
  width: 4em;
  margin: 1em;
}
