.banderole {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  padding-bottom: 3rem;
  font-size: 0.9rem;
  color: white;
  background-color: grey;
}
.content {
  width: 60vw;
  padding: 8vh 4% 0 4%;
}

.banderole_title {
  font-size: 1.5rem;
}

.banderole_buttons {
  display: flex;
}
.banderole_button {
  display: flex;
  align-items: center;
  font-weight: 600;
  background-color: grey;
  border-radius: 5px;
}

::after {
  display: block;
  height: 3rem;
  position: absolute;
  height: 3rem;
  bottom: 0;
}
