.footer_container {
  display: flex;
  flex-direction: row;
  background-color: grey;
  padding: 2rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.footer_brand_text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer_list {
  display: flex;
  list-style-type: none;
}

.footer_list li {
  margin-left: 4px;
}

.footer_logo {
  width: 40px;
  height: 40px;
}

.footer_rights_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer_rights {
  text-align: right;
}
