#profile {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

.test {
  border: 1px solid white;
  width: 450px;
  height: 300px;
  background: url("https://cdn.pixabay.com/photo/2021/07/28/00/57/pyramids-6498038_960_720.jpg")
    center/cover;
}

.section-title {
  height: 40px;
}
