.sectionUpdate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .sectionUpdateTitle {
    text-align: center;
    color: $main-blue;
    margin-top: 100px;
    font-size: 32px;
  }

  .sectionUpdateForm {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 400px;
    height: auto;
    border-radius: 16px;
  }
  label {
    display: block;
    margin: 10px 0 8px 0;
  }
  input {
    height: 30px;
    width: 250px;
  }
  .sectionUpdateName,
  .sectionUpdateOrder {
    margin-top: 15px;
  }
  #section_type {
    height: 30px;
    width: 250px;
  }
  .sectionUpdateButton {
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 20px;
    background-color: green;
    cursor: pointer;
  }
}
