.css-204u17-MuiDataGrid-main {
  color: white;
}
.display-admin-pannel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-i16b5t {
  max-width: 100%;
   display: flex;
  justify-content: center;
  align-items: center;
 
}
